<div class="login">
  <div class="row">
    <div class="col-lg-9 col-md-9 col-sm-12">
      <img src="../../../../assets/goldfoil-paper.png" alt="financiarTe">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12">
      <form [formGroup]="loginForm">
        <h1 class="">FinanciarTe</h1>
        <hr />
        <div class="mb-4 form-group">
          <label class="form-label">Usuario</label>
          <input type="email" class="form-control" name="email" formControlName="email"
            [class.red-icon]="this.loginForm.get('email')?.invalid" />
        </div>
        <div class="mb-4 form-group">
          <label class="form-label">Contraseña</label><span class="eyeIcon" style="padding-left: 5px;">
            <i [ngClass]="visible?'fa-solid fa-eye-slash':'fa-solid fa-eye'" tippy="Ver contraseña"></i></span>
          <input [type]="changeType?'password':'text'" class="form-control" name="contrasenia" formControlName="contrasenia"
            [class.red-icon]="this.loginForm.get('contrasenia')?.invalid" />
        </div>
        <div class="d-grid">
          <button type="button" class="btn-primary" [disabled]="loginForm.invalid">Iniciar
            sesión</button>
        </div>
        <div class="d-flex mt-2 justify-content-center" tippy="Volver al inicio">
        </div>
      </form>
    </div>
  </div>
</div>
