<div class="m-3">
    <div class="m-2 p-2">
        <app-reporte-balance-recomendacion></app-reporte-balance-recomendacion>
    </div>
    <div class="m-2 p-2">
        <app-reporte-recaudacion-mensual></app-reporte-recaudacion-mensual>
    </div>
    <div class="m-2 p-2">
        <app-reporte-variacion-dolar-indice></app-reporte-variacion-dolar-indice>
    </div>
    <div class="m-2 p-2">
        <app-reporte-clientes-prestamos></app-reporte-clientes-prestamos>
    </div>
    <div class="m-2 p-2">
        <app-reporte-cuotas></app-reporte-cuotas>
    </div>    
    <!-- <div class="m-2 p-2">
        <app-reporte-balance-recomendacion></app-reporte-balance-recomendacion>
    </div> -->
</div>