<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel" [class.show]="offCanvasNewPrestamo">
  <div class="offcanvas-header">
    <h1 class="offcanvas-title" id="offcanvasExampleLabel">Nuevo Prestamo</h1>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="container m-3">
      <div class="row p-2">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <h3 id="cliente">{{cliente.apellidos | uppercase}}, {{cliente.nombres}}</h3>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
          <h3 id="scoring">Scoring: {{cliente.scoring}}</h3>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
          <h3 id="indiceInteres">Beneficio: {{cliente.beneficioScoring}}</h3>
        </div>
      </div>
      <form [formGroup]="form">
          <div class="row p-2">
            <div class="col-lg-12 col-md-12 col-sm-12 py-2">
              <label for="cuotas">Entidad Financiera:</label>
              <select class="form-select form-select form-select-sm" id="entidadFinanciera" formControlName="entidadFinanciera" required [class.red-icon]="this.form.get('cuotas')?.invalid">
                <option [ngValue]="null"></option>
                <option *ngFor="let ef of entidadesF" [ngValue]="ef.id">{{ ef.descripcion }}</option>
              </select>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 py-2">
              <label for="montoOtorgado">Monto a otorgar:</label>
              <input type="number" class="form-control form-control-sm" id="montoOtorgado" formControlName="montoOtorgado" required [class.red-icon]="this.form.get('montoOtorgado')?.invalid">
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 py-2">
              <label for="cuotas">Cantidad de Cuotas:</label>
              <select class="form-select form-select-sm" id="cuotas" formControlName="cuotas" required [class.red-icon]="this.form.get('cuotas')?.invalid">
                <option [ngValue]="null"></option>
                <option *ngFor="let ct of cuotas" [ngValue]="ct">{{ ct }}</option>
              </select>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 py-2">
              <label for="cuotas">Dia de vencimiento:</label>
              <select class="form-select form-select-sm" id="diaVencimiento" formControlName="diaVencimiento" required [class.red-icon]="this.form.get('cuotas')?.invalid">
                <option [ngValue]="null"></option>
                <option *ngFor="let d of diaVenc" [ngValue]="d">{{ d }}</option>
              </select>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 py-2">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="refinanciaDeuda" formControlName="refinanciaDeuda">
                <label class="form-check-label" for="refinanciaDeuda">Refinancia deuda</label>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 py-2" *ngIf="this.form.get('refinanciaDeuda')?.value === true">
              <label for="prestamoRef">Prestamo a refinanciar:</label>
              <select class="form-select form-select-sm" id="prestamoRef" formControlName="prestamoRef" [class.red-icon]="this.form.get('prestamoRef')?.invalid">
                <option [ngValue]=""></option>
                <option *ngFor="let p of prestamos" [ngValue]="p.idPrestamo">{{ p.idPrestamo }}</option>
              </select>
            </div>
          </div>
      </form>
      <div class="row p-2">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <h3 id="cliente">Monto a devolver: {{(cliente.beneficioScoring + 1)*this.form.get('montoOtorgado')?.value}}</h3>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
          <h3 id="scoring">Scoring: {{cliente.scoring}}</h3>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
          <h3 id="indiceInteres">Beneficio: {{cliente.beneficioScoring}}</h3>
        </div>
      </div>
    </div>
  </div>
</div>
