<div class="sidebar" *ngIf="nav.visible">
  <div class="logo">
    <img src="../../../../assets/Icono2.png" alt="Logo">
  </div>
  <ul class="nav-links">
    <li *ngIf="this.userHasRole(['CEO', 'Director', 'Gerente'])"><a routerLink="dashboard"><i class="fas fa-chart-bar"></i>Dashboard</a></li>
    <li>
      <a><i class="fas fa-users"></i>Clientes</a>
      <ul class="sub-menu">
        <li><a routerLink="/clientes/alta">Nuevo Cliente</a></li>
        <li><a routerLink="/clientes/listado">Listado de clientes</a></li>
        <li><a (click)="buscarCliente()">Buscar cliente</a></li>
      </ul>
    </li>
    <li>
      <a><i class="fas fa-money-bill"></i>Préstamos</a>
      <ul class="sub-menu">
        <li><a (click)="prestamosPorCliente()">Prestamos por Cliente</a></li>
        <li><a routerLink="/prestamos/listadogeneral">Listado de Prestamos</a></li>
      </ul>
    </li>
    <li>
      <a><i class="fas fa-exchange-alt"></i>Transacciones</a>
      <ul class="sub-menu">
        <li><a routerLink="/transacciones/registrar">Nueva Transacción</a></li>
        <li><a routerLink="/transacciones/listado">Listado de Transacciones</a></li>
      </ul>
    </li>
    <li *ngIf="this.userHasRole(['Administrador'])">
      <a routerLink=""><i class="fas fa-cogs"></i>Ajustes</a>
    </li>
  </ul>
</div>
