@import url(../../../../styles.css);

.contactoAlternativo{
    border: 2pt solid black;
    border-radius: 10px;
    padding: 2.5rem;
    font-weight: 500;
}

.habilitado{
    color: forestgreen
}

.no-habilitado{
    color: firebrick
}
